.a1{
    color: antiquewhite;
    height: 70px;
    background-color: #56699C;
}

.a2{
    color: antiquewhite;
    height: 100%;
    background-color: #56699C;
}
.asdf{
    background-color: #56699C;
}
.a3{
    font-size: larger;
}
.a4{
    background-color: #f8f9fa;
}

.a6{
    letter-spacing: -0.15ch;
}
.a8{
    background-color: #F8AD3B;
}
.a9{
    background-color: white;
}
.a10{
    width: 6.9%;
}
.btn:hover{
    background-color: #56699C;
}
.ax{
    border:1px solid black;border-radius: 0px;
    letter-spacing: 0.15ch;
}
.az{
    font-size: 1rem;font-weight: 500;
    letter-spacing: -0.08ch;
}
.a11{
    background-color: #EFEFEF;
    
}

.font1{
    letter-spacing: 0ch;
    font-weight: 900;color:#56699C;font-family: 'Aclonica';
}
.a12{
    background-color: #EFEFEF;
    height: 140px;
    letter-spacing: -0.15ch;
}
.a13{
    line-height: 2em;
    font-size: 1.5rem;color:#56699C;
}
.bold{
    font-weight: 700;
}
a:hover{
    text-decoration: none;
}
 .font{
    font-weight: 900;color:#56699C;font-family: myFirstFont;;
}
.a14{
    background-color: #EFEFEF;
    height: 200px;
    letter-spacing: -0.15ch;
}
.a15{
    background-color: #EFEFEF;
    height: 280px;
    letter-spacing: -0.15ch;
}
.opacity-hover:hover{
	opacity:0.85;
	cursor:pointer;
	transition:.15s ease-in-out;}
.right-text, .right-text2, .right-text3 {
    font-size: 12px;
    text-align: right;
    padding-right: 15%;
}
@media all and (max-width: 1300px){
.right-text, .right-text2, .right-text3 {

    text-align: left;
    padding-right: 0;
}	
}
